---

---

<section id="home" class="full-height px-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="display-4 fw-bold" data-aos="fade-up">
          FULL STACK DEV / <span class="text-brand"><br />UX/UI DESIGNER</span>
        </h1>
        <p
          class="fw-bold lead mt-2 mb-4"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          Transformo ideas en productos digitales funcionales y rentables
        </p>
        <p class="fs-5 mt-2 mb-4" data-aos="fade-up" data-aos-delay="300">
          UX/UI Designer y Full Stack Developer con +3 años creando interfaces
          modernas para logística, finanzas y turismo. Combino diseño, research
          y código para construir productos funcionales y alineados al negocio.
        </p>
        <div class="d-flex flex-wrap gap-3">
          <div data-aos="fade-up" data-aos-delay="600">
            <a href="#about" class="btn btn-brand">SOBRE MI</a>
          </div>
          <div data-aos="fade-up" data-aos-delay="600">
            <a href="#casos-de-estudio" class="btn btn-brand"
              >CASOS DE ESTUDIO</a
            >
          </div>
          <div data-aos="fade-up" data-aos-delay="600">
            <a href="#contacto" class="btn btn-brand">TRABAJEMOS JUNTOS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .lead {
    color: var(--color-body);
    line-height: 1.8;
  }
</style>
